data/knf.tfi.TM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 (x64) (http://www.altova.com) by Urząd Komisji Nadzoru Finansowego (Komisja Nadzoru Finansowego) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tpp="knf.tpp" xmlns:tpw="knf.tpw" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="knf.tpp" schemaLocation="tpp/knf.tpp.xsd"/>
	<xs:import namespace="knf.tpw" schemaLocation="tpw/knf.tpw.xsd"/>
	<xs:include schemaLocation="abs/knf.abs.Sprawozdanie.xsd"/>
	<xs:include schemaLocation="abs/knf.abs.Naglowek.xsd"/>
	<!--========== Sprawozdanie ==========-->
	<xs:element name="Sprawozdanie" type="SprawozdanieTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Sprawozdanie miesięczne towarzystwa funduszy inwestycyjnych (Załącznik nr 1)</xs:documentation>
			<xs:documentation source="Definition" xml:lang="PL">Sprawozdanie miesięczne towarzystwa funduszy inwestycyjnych</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SprawozdanieTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Sprawozdanie</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SprawozdanieTypAbs">
				<xs:sequence>
					<xs:element name="Naglowek" type="NaglowekTyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Nagłówek sprawozdania</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dane" type="DaneTyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Dane sprawozdania</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:assert test="if (Dane/DaneUzupelniajace/PortfeleZarzadzanychAFI/DataPortfeliZarzadzanychAFI) 
									then Naglowek/OkresSprawozdawczy/DataDo >= Dane/DaneUzupelniajace/PortfeleZarzadzanychAFI/DataPortfeliZarzadzanychAFI
								else true()">
					<xs:annotation>
						<xs:documentation source="Definition" xml:lang="PL">Zaraportowana data w polu "DataPortfeliZarzadzanychAFI" nie może być póżniejsza od daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy"</xs:documentation>
						<xs:documentation source="Name" xml:lang="PL">TM_00001</xs:documentation>
					</xs:annotation>
				</xs:assert>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--========== Nagłówek ==========-->
	<xs:complexType name="NaglowekTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Nagłówek sprawozdania</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="NaglowekTypAbs">
				<xs:sequence>
					<xs:element name="IdentyfikatorZarzadzajacego" type="tpp:IdentyfikatorTFITyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Identyfikator krajowy towarzystwa</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Identyfikator krajowy towarzystwa</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NazwaZarzadzajacego" type="tpp:Opis300ZnakowTyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Nazwa towarzystwa</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Nazwa towarzystwa</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentyfikatorDostawcyDanych" type="tpp:IdentyfikatorDostawcyDanychTyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Identyfikator dostawcy danych</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Identyfikator podmiotu, który przygotował dane dla podmiotu raportującego</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WalutaSprawozdania" type="tpw:WalutyPLNTyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Waluta sprawozdania (PLN)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Waluta sprawozdania, waluta w której są raportowane wartości. 3-znakowy kod waluty zgodny z normą ISO, stała wartość: PLN</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence>
						<xs:element name="OkresSprawozdawczy" type="OkresSprawozdawczyTyp">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="PL">Okres sprawozdawczy raportu</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="CzyKorekta" type="tpp:WskaznikLogiczny0lub1Typ">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Oznaczenie czy plik zawiera raport podstawowy czy korektę, 0 - podstawowy, 1 - korekta</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Oznaczenie czy plik zawiera raport podstawowy czy korektę, 0 - podstawowy, 1 - korekta</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="CzyFunduszWLikwidacji" type="tpp:WskaznikLogiczny0lub1albotruelubfalseTyp" use="prohibited">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="PL">Flaga wskazująca, czy fundusz lub subfundusz jest w likwidacji</xs:documentation>
						<xs:documentation source="Definition" xml:lang="PL">Flaga wskazująca, czy fundusz lub subfundusz jest w likwidacji. true - jeśli fundusz/subfundusz jest w likwidacji false - jeśli fundusz/subfundusz nie jest w likwidacji.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OkresSprawozdawczyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Okres sprawozdawczy</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="OkresSprawozdawczyTypAbs">
				<xs:sequence>
					<xs:element name="DataOd" type="tpp:DataPrzedzial1Typ">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Pierwszy dzień bieżącego roku obrotowego lub inna data, jeśli raport nie obejmuje pełnego roku obrotowego.</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Pierwszy dzień bieżącego roku obrotowego. W przypadku raportu, który nie obejmuje pełnego okresu sprawozdawczego, należy podać inną datę (np. datę utworzenia podmiotu).</xs:documentation>
							<xs:documentation source="Samples" xml:lang="PL">Jeśli TFI ma rok obrotowy od 1 kwietnia do 31 marca i przesyła raport TM za wrzesień 2024, to w polu „DataOd” należy wpisać pierwszy dzień bieżącego roku obrotowego, tj. „2024-04-01”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DataDo" type="tpp:DataPrzedzial1Typ">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Ostatni dzień kalendarzowy okresu sprawozdawczego lub inna data, jeśli raport nie obejmuje pełnego okresu sprawozdawczego.</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Ostatni dzień kalendarzowy okresu sprawozdawczego. W przypadku raportu, który nie obejmuje pełnego okresu sprawozdawczego, należy podać inną datę.</xs:documentation>
							<xs:documentation source="Samples" xml:lang="PL">Jeśli TFI przesyła raport TM za wrzesień 2024, to w polu „DataDo” należy wpisać „2024-09-30”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rok" type="tpp:OkresSprawozdawczyRokTyp">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="PL">Rok, w którym przypada data określona w polu „DataDo” elementu „OkresSprawozdawczy”.</xs:documentation>
							<xs:documentation source="Definition" xml:lang="PL">Rok, w którym przypada data określona w polu „DataDo” elementu „OkresSprawozdawczy”.</xs:documentation>
							<xs:documentation source="Samples" xml:lang="PL">Jeśli pole „DataDo” jest wypełnione „2024-03-15”, to należy wpisać „2024” w polu „Rok”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence>
						<xs:element name="Miesiac" type="tpp:OkresSprawozdawczyMiesiacTyp">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="PL">Miesiąc, w którym przypada data określona w polu „DataDo” elementu „OkresSprawozdawczy”.</xs:documentation>
								<xs:documentation source="Definition" xml:lang="PL">Miesiąc, w którym przypada data określona w polu „DataDo” elementu „OkresSprawozdawczy”.</xs:documentation>
								<xs:documentation source="Samples" xml:lang="PL">Jeśli pole „DataDo” jest wypełnione „2024-03-15”, to należy wpisać „03” w polu „Miesiac”.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--========== Dane ==========-->
	<xs:complexType name="DaneTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Dane sprawozdania</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aktywa" type="AktywaTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Aktywa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KapitalWlasny" type="KapitalWlasnyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kapitał własny</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zobowiazania" type="ZobowiazaniaTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozyczkiKredyty" type="PozyczkiKredytyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zaciągnięte pożyczki i kredyty, zobowiązania z tytułu emisji obligacji oraz wartość poręczeń i gwarancji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzychodyKoszty" type="PrzychodyKosztyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody i koszty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DaneUzupelniajace" type="DaneUzupelniajaceTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Dane uzupełniające</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--========== Aktywa ==========-->
	<xs:complexType name="AktywaTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Aktywa</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SrodkiPieniezne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Środki pieniężne</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość środków pieniężnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PapieryWartoscioweSkarbPanstwaNBP" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Papiery wartościowe emitowane przez Skarb Państwa lub Narodowy Bank Polski</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość papierów wartościowych emitowanych przez Skarb Państwa lub Narodowy Bank Polski na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naleznosci" type="NaleznosciTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Należności</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UdzialyIAkcjeSpolek" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Udziały w spółkach i akcje spółek</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość udziałów w spółkach oraz wartość akcji spółek na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JednostkiUczestnictwa" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Jednostki uczestnictwa</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość jednostek uczestnictwa na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertyfikatyInwestycyjne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Certyfikaty inwestycyjne</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość certyfikatów inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TytulyUczestnictwaZbiorczePortfele" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Tytuły uczestnictwa zarządzanych zbiorczych portfeli papierów wartościowych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość tytułów uczestnictwa zarządzanych zbiorczych portfeli papierów wartościowych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AkcjeWlasne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Akcje własne towarzystwa</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość akcji własnych towarzystwa na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wierzytelnosci" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wierzytelności i prawa do świadczeń z tytułu wierzytelności oraz prawa, o których mowa w art. 147 ust. 1 ustawy, nabyte w celu ich wniesienia do funduszu inwestycyjnego</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość wierzytelności i praw do świadczeń z tytułu wierzytelności oraz prawa, o których mowa w art. 147 ust. 1 ustawy, nabytych w celu ich wniesienia do funduszu inwestycyjnego, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NaleznosciZTytuluWierzytelnosci" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Należności z tytułu wniesionych do funduszu inwestycyjnego wierzytelności i praw do świadczeń z tytułu wierzytelności oraz praw, o których mowa w art. 147 ust. 1 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość należności z tytułu wniesionych do funduszu inwestycyjnego wierzytelności i praw do świadczeń z tytułu wierzytelności oraz praw, o których mowa w art. 147 ust. 1 ustawy, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AktywaOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Aktywa ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NaleznosciTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Należności</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunduszeInwestycyjne" type="NaleznosciFunduszeInwestycyjneTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Należności od funduszy inwestycyjnych</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pozostale" type="NaleznosciPozostale">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Pozostałe należności</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="NaleznosciOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Należności ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość należności ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NaleznosciFunduszeInwestycyjneTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Należności fundusze inwestycyjne</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nieprzeterminowane" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Nieprzeterminowane</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość należności nieprzeterminowanych od funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneDo30Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane do 30 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość należności przeterminowanych do 30 dni od funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneOd31Do90Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane od 31 do 90 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość należności przeterminowanych od 31 do 90 dni od funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneOd91Do180Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane od 91 do 180 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość należności przeterminowanych od 91 do 180 dni od funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneOd181Do360Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane od 181 do 360 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość należności przeterminowanych od 181 do 360 dni od funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowanePowyzej360Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane powyżej 360 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość nalezności przeterminowanych powyżej 360 dni od funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="FunduszeInwestycyjneOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Należności od funduszy inwestycyjnych</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość należności od funduszy inwestycyjnych ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:assert test="(if (abs(@FunduszeInwestycyjneOgolem) >= 100) then abs(@FunduszeInwestycyjneOgolem*0.01) else 1) >= abs(@FunduszeInwestycyjneOgolem - (Nieprzeterminowane + PrzeterminowaneDo30Dni + PrzeterminowaneOd31Do90Dni + PrzeterminowaneOd91Do180Dni + PrzeterminowaneOd181Do360Dni + PrzeterminowanePowyzej360Dni))">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Należności od funduszy inwestycyjnych ogółem muszą równać się sumie należności od funduszy inwestycyjnych nieprzeterminowanych, przeterminowanych do 30 dni, przeterminowanych od 31 do 90 dni, przeterminowanych od 91 do 180 dni, przeterminowanych od 181 do 360 dni oraz przeterminowanych powyżej 360 dni z tolerancją 1% (min. 1 jednostki) w stosunku do należności od funduszy inwestycyjnych ogółem</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00002</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
	<xs:complexType name="NaleznosciPozostale">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Należności pozostałe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nieprzeterminowane" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Nieprzeterminowane</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności nieprzeterminowanych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneDo30Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane do 30 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności przeterminowanych do 30 dni na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneOd31Do90Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane od 31 do 90 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności przeterminowanych od 31 do 90 dni na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneOd91Do180Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane od 91 do 180 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności przeterminowanych od 91 do 180 dni na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowaneOd181Do360Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane od 181 do 360 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności przeterminowanych od 181 do 360 dni na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzeterminowanePowyzej360Dni" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przeterminowane powyżej 360 dni</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności przeterminowanych powyżej 360 dni na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PozostaleOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Pozostałe należności ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość pozostałych należności ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:assert test="(if (abs(@PozostaleOgolem) >= 100) then abs(@PozostaleOgolem*0.01) else 1) >= abs(@PozostaleOgolem - (Nieprzeterminowane + PrzeterminowaneDo30Dni + PrzeterminowaneOd31Do90Dni + PrzeterminowaneOd91Do180Dni + PrzeterminowaneOd181Do360Dni + PrzeterminowanePowyzej360Dni))">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Pozostałe należności ogółem muszą równać się sumie pozostałych należności nieprzeterminowanych, przeterminowanych do 30 dni, przeterminowanych od 31 do 90 dni, przeterminowanych od 91 do 180 dni, przeterminowanych od 181 do 360 dni oraz przeterminowanych powyżej 360 dni z tolerancją 1% (min. 1 jednostki) wartości pozostałych należności ogółem.</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00003</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
	<!--========== Kapitał własny ==========-->
	<xs:complexType name="KapitalWlasnyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Kapitał własny</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MinimalnyWymaganyKapitalWlasny" type="MinimalnyWymaganyKapitalWlasnyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KursEuro" type="tpp:Liczba19.4Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kurs Euro na ostatni dzień okresu sprawozdawczego z dokładnością do 4 miejsc po przecinku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumaUbezpieczeniaPojedynczeRoszczenie" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Suma ubezpieczenia w odniesieniu do pojedynczego roszczenia, w ramach posiadanego przez towarzystwo ubezpieczenia odpowiedzialności cywilnej, o którym mowa w art. 50 ust. 4a pkt 2 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość sumy ubezpieczenia w odniesieniu do pojedynczego roszczenia, w ramach posiadanego przez towarzystwo ubezpieczenia odpowiedzialności cywilnej, o którym mowa w art. 50 ust. 4a pkt 2 ustawy, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumaUbezpieczeniaWszystkieRoszczenia" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Suma ubezpieczenia w odniesieniu do wszystkich roszczeń w skali roku, w ramach posiadanego przez towarzystwo ubezpieczenia odpowiedzialności cywilnej, o którym mowa w art. 50 ust. 4a pkt 2 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość sumy ubezpieczenia w odniesieniu do wszystkich roszczeń w skali roku, w ramach posiadanego przez towarzystwo ubezpieczenia odpowiedzialności cywilnej, o którym mowa w art. 50 ust. 4a pkt 2 ustawy, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NadwyzkaMinimalnegoKapitaluWlasnego" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość nadwyżki minimalnego kapitału własnego określonego zgodnie z art. 50 ust. 2 w zw. z ust. 3 ustawy, ponad limit określony w art. 50 ust. 4 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość nadwyżki minimalnego kapitału własnego określonego zgodnie z art. 50 ust. 2 w zw. z ust. 3 ustawy, ponad limit określony w art. 50 ust. 4 ustawy, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KapitalWlasny" type="KapitalWlasnyWTymTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kapitał własny</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MinimalnyWymaganyKapitalWlasnyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Art50Ust1" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny określony zgodnie z art. 50 ust. 1 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 1 ustawy na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Art50Ust1Ust4aPkt1" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny określony zgodnie z art. 50 ust. 1 w zw. z ust. 4a pkt 1 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 1 w zw. z ust. 4a pkt 1 ustawy na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Art50Ust2Ust3i4a" type="MinimalnyWymaganyKapitalWlasnyArt50Ust2Ust3i4aTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny określony zgodnie z art. 50 ust. 2 w zw. z ust. 3 i 4a ustawy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:assert test="(if (abs(Art50Ust1Ust4aPkt1) >= 100) then abs(Art50Ust1Ust4aPkt1*0.01) else 1) >= abs(Art50Ust1Ust4aPkt1 - (Art50Ust1 + Art50Ust2Ust3i4a/KwotaDodatkowa))">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 1 w zw. z ust. 4a pkt 1 ustawy musi równać się sumie wysokości minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 1 ustawy oraz wysokości kwoty dodatkowej, o której mowa w art. 50 ust. 4a pkt 1 ustawy z tolerancją 1% (min. 1 jednostki) wysokości minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 1 w zw. z ust. 4a pkt 1 ustawy.</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00004</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
	<xs:complexType name="MinimalnyWymaganyKapitalWlasnyArt50Ust2Ust3i4aTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny art. 50 ust. 2 w zw. z ust. 3 i 4a</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MinimalnyKapitalWlasnyKursEuro" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Minimalny kapitał własny określony zgodnie z art. 50 ust. 2 ustawy przy zastosowaniu kursu euro na ostatni dzień miesiąca, za który jest przekazywane sprawozdanie miesięczne</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość minimalnego kapitału własnego określonego zgodnie z art. 50 ust. 2 ustawy przy zastosowaniu kursu euro na ostatni dzień miesiąca, za który jest przekazywane sprawozdanie miesięczne, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZwiekszenieKapitaluWlasnego" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zwiększenie kapitału własnego, o którym mowa w art. 50 ust. 3 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość zwiększenia kapitału własnego, o którym mowa w art. 50 ust. 3 ustawy, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KwotaDodatkowa" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kwota dodatkowa, o której mowa w art. 50 ust. 4a pkt 1 ustawy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kwoty dodatkowej, o której mowa w art. 50 ust. 4a pkt 1 ustawy, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Art50Ust2Ust3i4aOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Minimalny wymagany kapitał własny określony zgodnie z art. 50 ust. 2 w zw. z ust. 3 i 4a ustawy</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 2 w zw. z ust. 3 i 4a ustawy. Kwota na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:assert test="(if (abs(@Art50Ust2Ust3i4aOgolem) >= 100) then abs(@Art50Ust2Ust3i4aOgolem*0.01) else 1) >= abs(@Art50Ust2Ust3i4aOgolem - (MinimalnyKapitalWlasnyKursEuro + ZwiekszenieKapitaluWlasnego + KwotaDodatkowa))">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 2 w zw. z ust. 3 i 4a ustawy musi równać się sumie wysokości minimalnego kapitału własnego określonego zgodnie z art. 50 ust. 2 ustawy przy zastosowaniu kursu euro na ostatni dzień miesiąca, za który jest przekazywane sprawozdanie miesięczne, wysokości zwiększenia kapitału własnego, o którym mowa w art. 50 ust. 3 ustawy oraz wysokości kwoty dodatkowej, o której mowa w art. 50 ust. 4a pkt 1 ustawy z tolerancją 1% (min. 1 jednostki) wysokości minimalnego wymaganego kapitału własnego określonego zgodnie z art. 50 ust. 2 w zw. z ust. 3 i 4a ustawy.</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00005</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
	<xs:complexType name="KapitalWlasnyWTymTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Kapitał własny, w tym:</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WynikFinansowyNetto" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wynik finansowy netto w okresie sprawozdawczym</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wynik finansowy netto narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KapitalZakladowy" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kapitał zakładowy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kapitału zakładowego na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KapitalZapasowy" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kapitał zapasowy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kapitału zapasowego na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozostaleKapitalyRezerwowe" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Pozostałe kapitały rezerwowe</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość pozostałych kapitałów rezerwowych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KapitalZAktualizacjiWyceny" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Kapitał z aktualizacji wyceny</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kapitału z aktualizacji wyceny na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZyskStrataZLatUbieglych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zysk/strata z lat ubiegłych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zysku/straty z lat ubiegłych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdpisyZyskuNetto" type="tpp:LiczbaNiedodatnia19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Odpisy z zysku netto w ciągu roku obrotowego (wartość ujemna)</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość odpisów z zysku netto narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy"). Wartość ujemna.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="KapitalWlasnyOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Kapitał własny ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość kapitału własnego ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--========== Zobowiązania ==========-->
	<xs:complexType name="ZobowiazaniaTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Zobowiązania</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZobowiazaniaPodmioty" type="ZobowiazaniaPodmiotyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec podmiotów</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZobowiazaniaPrzeterminowane" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania przeterminowane ogółem</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań przeterminowanych ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ZobowiazaniaOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania ogółem na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ZobowiazaniaPodmiotyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Zobowiązania wobec podmiotów</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunduszeInwestycyjne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec funduszy inwestycyjnych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania wobec funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UczestnicyFunduszyInwestycyjnych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec uczestników funduszy inwestycyjnych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania wobec uczestników funduszy inwestycyjnych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Akcjonariusze" type="ZobowiazaniaAkcjonariuszeTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec akcjonariuszy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PodmiotyZarzadzaniePortfelami" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec podmiotów, którym towarzystwo zleciło zarządzanie portfelami inwestycyjnymi funduszy inwestycyjnych lub ich częścią</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania wobec podmiotów, którym towarzystwo zleciło zarządzanie portfelami inwestycyjnymi funduszy inwestycyjnych lub ich częścią, na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PodmiotyDystrybucjaJednostek" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec podmiotów pośredniczących w zbywaniu i odkupywaniu jednostek uczestnictwa funduszy inwestycyjnych zarządzanych przez towarzystwo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania wobec podmiotów pośredniczących w zbywaniu i odkupywaniu jednostek uczestnictwa funduszy inwestycyjnych zarządzanych przez towarzystwo na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZobowiazaniaAkcjonariuszeTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Zobowiązania akcjonariusze</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dywidendy" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania z tytułu dywidendy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania z tytułu dywidendy na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AkcjonariuszeOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Zobowiązania i rezerwy na zobowiązania wobec akcjonariuszy</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość zobowiązań i rezerw na zobowiązania wobec akcjonariuszy na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--========== Pożyczki i kredyty ==========-->
	<xs:complexType name="PozyczkiKredytyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Pożyczki i kredyty</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PozyczkiKredytyBezEmisjiObligacji" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wielkość pożyczek i kredytów (bez zobowiązań z tytułu emisji obligacji)</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wielkość pożyczek i kredytów (bez zobowiązań z tytułu emisji obligacji) na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZobowiazaniaEmisjaObligacji" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wielkość zobowiązań z tytułu emisji obligacji</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wielkość zobowiązań z tytułu emisji obligacji na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PoreczeniaFunduszuWierzytelnosci" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wielkość poręczeń za zobowiązania wyspecjalizowanego standaryzowanego funduszu wierzytelności</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wielkość poręczeń za zobowiązania wyspecjalizowanego standaryzowanego funduszu wierzytelności na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--========== Przychody i koszty ==========-->
	<xs:complexType name="PrzychodyKosztyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Przychody i koszty</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Przychody" type="PrzychodyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Koszty" type="KosztyTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Koszty</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrzychodyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Przychody</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZarzadzanieFunduszami" type="PrzychodyZarzadzanieFunduszamiTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu zarządzania funduszami inwestycyjnymi, funduszami zagranicznymi i unijnymi AFI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZarzadzanieZbiorczymiPortfelamiPapierowWartosciowych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu zarządzania zbiorczymi portfelami papierów wartościowych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania zbiorczymi portfelami papierów wartościowych. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZarzadzaniePortfelamiInstrumentyFinansowe" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu zarządzania portfelami, w skład których wchodzi jeden lub większa liczba instrumentów finansowych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania portfelami, w skład których wchodzi jeden lub większa liczba instrumentów finansowych. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DoradztwoInwestycyjne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu świadczenia usług doradztwa inwestycyjnego</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu świadczenia usług doradztwa inwestycyjnego. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NabycieZbycieInstrumentowFinansowych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu świadczenia usług przyjmowania i przekazywania zleceń nabycia lub zbycia instrumentów finansowych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu świadczenia usług przyjmowania i przekazywania zleceń nabycia lub zbycia instrumentów finansowych. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosrednictwoNabycieZbycieJUCIWlasne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu pośrednictwa w zbywaniu i odkupywaniu jednostek uczestnictwa funduszy inwestycyjnych zarządzanych przez towarzystwo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu pośrednictwa w zbywaniu i odkupywaniu jednostek uczestnictwa funduszy inwestycyjnych zarządzanych przez towarzystwo. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosrednictwoNabycieZbycieJUCIInneTFI" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu pośrednictwa w zbywaniu i odkupywaniu jednostek uczestnictwa funduszy inwestycyjnych zarządzanych przez inne towarzystwa</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu pośrednictwa w zbywaniu i odkupywaniu jednostek uczestnictwa funduszy inwestycyjnych zarządzanych przez inne towarzystwa. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosrednictwoNabycieZbycieJUCIFunduszyZagranicznych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu pośrednictwa w zbywaniu i odkupywaniu tytułów uczestnictwa funduszy zagranicznych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu pośrednictwa w zbywaniu i odkupywaniu tytułów uczestnictwa funduszy zagranicznych. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrzedstawicielstwoFunduszyZagranicznych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu pełnienia funkcji przedstawiciela funduszy zagranicznych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu pełnienia funkcji przedstawiciela funduszy zagranicznych. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LikwidatorFunduszyInwestycyjnych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu pełnienia funkcji likwidatora funduszy inwestycyjnych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu pełnienia funkcji likwidatora funduszy inwestycyjnych. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Odsetki" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Przychody odsetkowe</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów odsetkowych narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PrzychodyOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Przychody ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów ogółem narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PrzychodyZarzadzanieFunduszamiTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Przychody zarządzanie funduszami</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIO" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Funduszami inwestycyjnymi otwartymi</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania funduszami inwestycyjnymi otwartymi. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SFIO" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Specjalistycznymi funduszami inwestycyjnymi otwartymi</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania specjalistycznymi funduszami inwestycyjnymi otwartymi. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIZ" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Funduszami inwestycyjnymi zamkniętymi</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania funduszami inwestycyjnymi zamkniętymi. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunduszeZagraniczne" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Funduszami zagranicznymi</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania funduszami zagranicznymi. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").
Fundusze zagraniczne to wszystkie fundusze poza: FIO, SFIO, FIZ, unijnymi AFI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnijneAFI" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Unijnymi AFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania funduszami AFI. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ZarzadzanieFunduszamiOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Przychody z tytułu zarządzania funduszami inwestycyjnymi, funduszami zagranicznymi i unijnymi AFI ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość przychodów z tytułu zarządzania funduszami inwestycyjnymi, funduszami zagranicznymi i unijnymi AFI. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:assert test="(if (abs(@ZarzadzanieFunduszamiOgolem) >= 100) then abs(@ZarzadzanieFunduszamiOgolem*0.01) else 1) >= abs(@ZarzadzanieFunduszamiOgolem - (FIO + SFIO + FIZ + FunduszeZagraniczne + UnijneAFI))">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Przychody z tytułu zarządzania funduszami inwestycyjnymi, funduszami zagranicznymi i unijnymi AFI ogółem muszą równać się sumie wartości przychodów z tytułu zarządzania: FIO, SFIO, FIZ, funduszami zagranicznymi  oraz unijnymi AFI z tolerancją 1% (min. 1 jednostki) wartości przychodów z tytułu zarządzania funduszami inwestycyjnymi ogółem</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00006</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
	<xs:complexType name="KosztyTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Koszty</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KosztyStale" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Koszty stałe</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kosztów stałych narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KosztyZmienne" type="KosztyZmienneTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Koszty zmienne</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="KosztyOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Koszty ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość kosztów ogółem narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:assert test="(if (abs(@KosztyOgolem) >= 100) then abs(@KosztyOgolem*0.01) else 1) >= abs(@KosztyOgolem - (KosztyStale + KosztyZmienne/@KosztyZmienneOgolem))">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Koszty ogółem muszą równać się sumie wartości kosztów stałych oraz kosztów zmiennych z tolerancją 1% (min. 1 jednostki) wartości kosztów ogółem</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00007</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
	<xs:complexType name="KosztyZmienneTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Koszty zmienne</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dystrybucja" type="KosztyZmienneDystrybucjaTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Koszty zmienne dystrybucji</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="KosztyZmienneOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Koszty zmienne</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość kosztów zmiennych narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KosztyZmienneDystrybucjaTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Koszty zmienne dystrybucja</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RealizacjaZlecenNabyciaZbyciaJUCI" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Pozostające w bezpośrednim związku z przyjmowaniem, przekazywaniem do realizacji i realizowaniem zleceń nabycia, odkupienia lub zamiany jednostek uczestnictwa funduszu inwestycyjnego lub przyjmowaniem zapisów na certyfikaty inwestycyjne i ich przydziałem</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kosztów pozostająca w bezpośrednim związku z przyjmowaniem, przekazywaniem do realizacji i realizowaniem zleceń nabycia, odkupienia lub zamiany jednostek uczestnictwa funduszu inwestycyjnego lub przyjmowaniem zapisów na certyfikaty inwestycyjne i ich przydziałem. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WynagrodzenieDystrybutorow" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Stanowiące wynagrodzenie dystrybutorów i pozostające w bezpośrednim związku z uczestnictwem w funduszach inwestycyjnych zarządzanych przez towarzystwo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysokość kosztów stanowiąca wynagrodzenie dystrybutorów i pozostająca w bezpośrednim związku z uczestnictwem w funduszach inwestycyjnych zarządzanych przez towarzystwo. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingFunduszu" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Poniesione z tytułu promocji lub marketingu funduszu inwestycyjnego zarządzanego przez towarzystwo w zakresie, w jakim koszty te nie zostały poniesione przez fundusz</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wysoszkość kosztów poniesiona z tytułu promocji lub marketingu funduszu inwestycyjnego zarządzanego przez towarzystwo w zakresie, w jakim koszty te nie zostały poniesione przez fundusz. Kwota narastająca w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DystrybucjaOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Koszty zmienne dystrybucji ogółem</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wysokość kosztów zmiennych dystrybucji ogółem narastająco w okresie sprawozdawczym (tj. od daty wskazanej w polu "DataOd" elementu "OkresSprawozdawczy" do daty wskazanej w polu "DataDo" elementu "OkresSprawozdawczy").</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--========== Dane uzupełniające ==========-->
	<xs:complexType name="DaneUzupelniajaceTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Dane uzupełniające</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AktywaZarzadzanychFunduszy" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość aktywów zarządzanych funduszy inwestycyjnych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów zarządzanych funduszy inwestycyjnych, z wyłączeniem wartości aktywów funduszy inwestycyjnych w likwidacji, których likwidatorem jest towarzystwo. Wartość na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AktywaZarzadzanychFunduszyZagranicznych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość aktywów zarządzanych funduszy zagranicznych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów zarządzanych funduszy zagranicznych. Dotyczy wszystkich funduszy zagranicznych z wyłączeniem unijnych AFI. Wartość na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AktywaZarzadzanychUnijnychAFI" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość aktywów zarządzanych unijnych AFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów zarządzanych unijnych AFI na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AktywaZarzadzanychZbiorczychPortfeliPapierowWartosciowych" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość aktywów zarządzanych zbiorczych portfeli papierów wartościowych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów zarządzanych zbiorczych portfeli papierów wartościowych na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AktywaZarzadzanychPortfeliInstrumentyFinansowe" type="AktywaZarzadzanychPortfeliInstrumentyFinansoweTyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Zarządzane portfele, w skład których wchodzi jeden lub większa liczba instrumentów finansowych</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AktywaFunduszyWLikwidacji" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość aktywów funduszy inwestycyjnych w likwidacji, których likwidatorem jest towarzystwo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów funduszy inwestycyjnych w likwidacji, których likwidatorem jest towarzystwo. Wartość na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfeleZarzadzanychAFI" type="PortfeleZarzadzanychAFITyp">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Portfele zarządzanych AFI, o których mowa w art. 14 ust. 2 rozporządzenia 231/2013.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ZarzadzaneAktywa" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Wartość zarządzanych aktywów</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość zarządzanych aktywów na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AktywaZarzadzanychPortfeliInstrumentyFinansoweTyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Aktywa zarządzanych portfeli instrumenty finansowe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InwestycjeWlasneJUCI" type="tpp:Liczba19.2Typ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Wartość jednostek uczestnictwa, certyfikatów inwestycyjnych, tytułów uczestnictwa odpowiednio funduszy inwestycyjnych, funduszy zagranicznych i unijnych AFI zarządzanych przez towarzystwo nabytych w ramach zarządzania portfelami, w skład których wchodzi jeden lub większa liczba instrumentów finansowych</xs:documentation>
					<xs:documentation source="Definition" xml:lang="PL">Wartość jednostek uczestnictwa, certyfikatów inwestycyjnych, tytułów uczestnictwa odpowiednio funduszy inwestycyjnych, funduszy zagranicznych i unijnych AFI zarządzanych przez towarzystwo nabytych w ramach zarządzania portfelami, w skład których wchodzi jeden lub większa liczba instrumentów finansowych. Wartość na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AktywaZarzadzanychPortfeliInstrumentyFinansoweOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Wartość aktywów zarządzanych portfeli, w skład których wchodzi jeden lub większa liczba instrumentów finansowych</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość aktywów zarządzanych portfeli, w skład których wchodzi jeden lub większa liczba instrumentów finansowych. Wartość na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PortfeleZarzadzanychAFITyp">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="PL">Portfele Zarzadzanych AFI</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataPortfeliZarzadzanychAFI" type="tpp:DataPrzedzial2Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="PL">Dzień, na który przyjęto wartość portfeli zarządzanych AFI, o której mowa w art. 14 ust. 2 rozporządzenia 231/2013, do ustalenia wartości kwoty dodatkowej, o której mowa w art. 50 ust. 4a pkt 1 ustawy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PortfeleZarzadzanychAFIOgolem" type="tpp:Liczba19.2Typ" use="required">
			<xs:annotation>
				<xs:documentation source="Name" xml:lang="PL">Wartość portfeli zarządzanych AFI, o której mowa w art. 14 ust. 2 rozporządzenia 231/2013, przyjęta dla celów ustalenia wartości kwoty dodatkowej, o której mowa w art. 50 ust. 4a pkt 1 ustawy</xs:documentation>
				<xs:documentation source="Definition" xml:lang="PL">Wartość portfeli zarządzanych AFI, o której mowa w art. 14 ust. 2 rozporządzenia 231/2013, przyjęta dla celów ustalenia wartości kwoty dodatkowej, o której mowa w art. 50 ust. 4a pkt 1 ustawy. Wartość na datę wskazaną w polu "DataDo" elementu "OkresSprawozdawczy".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:assert test="if (@PortfeleZarzadzanychAFIOgolem != 0) then
							DataPortfeliZarzadzanychAFI
						else true()">
			<xs:annotation>
				<xs:documentation source="Definition" xml:lang="PL">Pole "DataPortfeliZarzadzanychAFI" obowiązkowe jeśli zaraportowana wartość w atrybucie "PortfeleZarzadzanychAFIOgolem" jest różna od 0</xs:documentation>
				<xs:documentation source="Name" xml:lang="PL">TM_00008</xs:documentation>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
</xs:schema>
